<nav class="menu">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/acerca"> Razas</a></li>
    <li><a href="/blog">Clases</a></li>
    <li><a href="/contacto">Acerca de mi</a></li>
  </ul>
</nav>
<div>
      <h1>{{ pageTitle }}</h1>
  <input type="text" id="searchInput" placeholder="{{ searchPlaceholder }}">
  <ul id="suggestions">{{ suggestionsList }}</ul>

  <script src="/js/busqueda.js"></script>
</div>