---
layout: layout-pages.njk
title: Razas
description: Meta descripción de la página de acerca
---

<h1>{{ title }}</h1>
<p>
  Una visita a una de las grandes ciudades en los
mundos de Dungeons & Dragons —Waterdeep,
La Ciudad Libre de Greyhawk, o incluso la misteriosa Sigil, la Ciudad de las Puertas— abruman los sentidos. Voces conversan en incontables idiomas diferentes. Los aromas al cocinar en docenas de
cocinas diferentes se mezclan con los olores de calles abarrotadas de gente y su deficiente higiene. Construcciones en
multitud de estilos arquitectónicos muestran los diversos orígenes de sus habitantes.
</p>
<p>
    Y la propia gente —gente de varios tamaños, formas y colores, vestidos en un deslumbrante espectro de tonos y estilos— representa a muchas razas diferentes, desde los diminutos medianos y robustos enanos hasta los majestuosamente
bellos elfos mezclándose entre una variedad de etnias de humanos.
</p>
<p>
    Tu elección de raza afecta a muchos aspectos diferentes
de tu personaje. Establece las cualidades fundamentales que
existen durante toda la carrera de aventurero de tu personaje.
Cuando tomes esta decisión, ten en mente el tipo de personaje con el que quieres jugar. Por ejemplo, un mediano podría
ser una buena opción para un ladrón sigiloso, un enano para
un duro guerrero y un elfo puede ser un maestro de la magia
arcana.
</P>

<p>
A continuación te dejaré una lista de las razas disponíbles:
</P>

<ul>
<li>
<a href="/Dracónido">Dracónido</a>
</li>
<li>
<a href="/Elfos">Elfos</a>
</li>
<li>
<a href="/Enano">Enano</a>
</li>
<li>
<a href="/Gnomo">Gnomo</a>
</li>
<li>
<a href="/Humano">Humano</a>
</li>
<li>
<a href="/Mediano">Mediano</a>
</li>
<li>
<a href="/Semielfo">Semielfo</a>
</li>
<li>
<a href="/Semiorco">Semiorco</a>
</li>
<li>
<a href="/Tiflin">Tiflin</a>
</li>

</ul>