---
layout: layout-pages.njk
---
<h1>Brujo</h1>
<img src="https://bg3.wiki/w/images/thumb/6/66/Class_Warlock_Badge_Icon.png/180px-Class_Warlock_Badge_Icon.png" alt="logo" width="200" height="auto">
<p>Con un pseudodragón enroscado en el hombro, un joven elfo
con ropajes dorados sonríe cálidamente, entretejiendo un encanto mágico con palabras melosas y controlando al centinela del palacio a su voluntad.</p>
<p>A medida que las llamas cobran vida en sus manos, un
arrugado humano susurra el nombre secreto de su patrón demoníaco, infundiendo su conjuro con magia diabólica.</p>
<p>Mientras divide su mirada entre un tomo maltratado y el
extraño alineamiento de las estrellas sobre su cabeza, un mediano de amplios ojos entona el místico ritual que abrirá la
puerta hacia un mundo distante.</p>
<p>Los brujos son buscadores del conocimiento que se encuentra escondido en el multiverso. A través de pactos hechos con seres poderosos de poder sobrenatural, los brujos
desatan efectos mágicos tanto sutiles como espectaculares.
Recurriendo al antiguo conocimiento de seres tales como nobles Feéricos, demonios, diablos, brujas y entidades extrañas
del Reino Lejano, los brujos recolectan secretos arcanos para
potenciar su propio poder.</p>
<h2>Rasgos de la clase</h2>
<p>Como brujo, ganas los siguientes rasgos de clase.</p>
<h3>Puntos de Golpe</h3>
<ul>
<li>
<p>Dado de Golpe: 1d8 por nivel de brujo.
Puntos de Golpe en primer nivel: 8 + tu modificador de
Constitución.</p>
</li>
<li>
<p>Puntos de Golpe a niveles superiores: 1d8 (o 5) + tu modificador de Constitución por cada nivel de brujo después del primer nivel.</p>
</li>
</ul>
<h3>Competencias</h3>
<ul>
<li>
<p>Armadura: armadura ligera.</p>
</li>
<li>
<p>Armas: todas las armas simples.</p>
</li>
<li>
<p>Herramientas: ninguna.</p>
</li>
<li>
<p>Tiradas de Salvación: Sabiduría, Carisma.</p>
</li>
<li>
<p>Habilidades: escoge dos entre Arcano, Engañar, Historia, Intimidación, Investigación, Naturaleza y Religión.</p>
</li>
</ul>
<h3>Patrón de otro mundo</h3>
<p>Al comenzar el nivel 1, has firmado un pacto con un ser de
otro mundo de tu elección: el Archihada, el Diablo o el Gran
Antiguo, cada uno de los cuales está detallado al final de la
descripción de la clase. Tu elección te proporciona rasgos en
el nivel 1 y nuevamente en los niveles 6, 10 y 14.</p>
<h3>Magia de pacto</h3>
<p>Tu investigación arcana y la magia con la que te imbuyó tu
patrón te dieron facilidad con los conjuros</p>
<h2>Subclases (Pactos)</h2>
<h3>La archihada</h3>
<p>Tu patrón es un noble entre los feéricos. Una criatura de leyenda, poseedora de secretos que fueron olvidados antes de
que las razas mortales nacieran. Las motivaciones de este ser
son a menudo inescrutables, y a veces caprichosas, y podrían
involucrar la obtención de mayor poder mágico o reparar antiguos rencores. Los seres de este tipo incluyen al Príncipe
del Frío; la Reina del Aire y la Oscuridad, soberana de la
Corte Crepuscular; Titania de la Corte del Verano; su consorte Oberon, el Señor Verde; Hyrsam, el Príncipe de los Tontos; y antiguas brujas.</p>
<h3>El diablo</h3>
<p>Has realizado un pacto con un diablo de los planos inferiores
de existencia, un ser cuyas metas son malvadas, incluso si peleas contra esas metas. Tales seres desean la corrupción o
destrucción de todas las cosas, incluyéndote a ti. Los diablos
con suficiente poder para firmar un pacto incluyen señores
demoníacos como Demogorgon, Orcus, Fraz’Urb-luu y Baphomet; Archidiablos como Asmodeo, Dispater, Mefistófeles y Belial; diablos del foso y balors que sean especialmente
poderosos; y ultroloths y otros señores de los yugoloths.</p>
<h3>El gran Antiguo</h3>
<p>Tu patrón es una misteriosa entidad cuya naturaleza es totalmente ajena al tejido de la realidad. Podría venir del Reino
Lejano, el espacio más allá de la realidad, o ser uno de los
dioses antiguos, sólo conocidos en las leyendas. Sus motivos
son incomprensibles para los mortales, y su conocimiento,
tan inmenso y antiguo, que incluso las mayores bibliotecas
palidecen en comparación a los vastos secretos que guardan
estos seres</p>
