---
layout: layout-pages.njk
---
<h1>Bardo</h1>
<img src="https://bg3.wiki/w/images/thumb/3/38/Class_Bard_Badge_Icon.png/180px-Class_Bard_Badge_Icon.png" alt="logo" width="200" height="auto">
<p>Canturreando mientras desliza sus dedos sobre un antiguo
monumento, en unas olvidadas ruinas hace largo tiempo, el
conocimiento brota en la mente de una semielfa envuelta en
pieles desgastadas, conjurado gracias a la magia de su canción —un conocimiento que habla sobre la gente que construyó el monumento y la mítica saga que representa.</p>
<p>Un severo guerrero humano golpea su espada rítmicamente contra su cota de mallas, marcando el tempo para su
canto de guerra y alentando la valentía y el heroísmo de sus
compañeros. La magia de su canción los fortalece y estimula.</p>
<p>Riendo mientras afina su cítara, un gnomo envuelve con
su magia sutil a los nobles reunidos, asegurándose de que las
palabras de sus compañeros serán bien recibidas.</p>
<p>Ya sea un erudito, un poeta o un canalla, un bardo teje su
magia a través de sus palabras y su música para inspirar a los
aliados, desmoralizar a los enemigos, manipular mentes,
crear ilusiones e incluso sanar heridas.</p>
<h2>Rasgos de la clase</h2>
<p>Como bardo, ganas los siguientes rasgos de clase.</p>
<h3>Puntos de Golpe</h3>
<ul>
<li>
<p>Dado de Golpe: 1d8 por nivel de bardo.</p>
</li>
<li>
<p>Puntos de Golpe en primer nivel: 8 + tu modificador de
Constitución.</p>
</li>
<li>
<p>Puntos de Golpe a niveles superiores: 1d8 (o 5) + tu modificador de Constitución por nivel de bardo después del primer
nivel.</p>
</li>
</ul>
<h3>Competencias</h3>
<ul>
<li>
<p>Armadura: armadura ligera.</p>
</li>
<li>
<p>Armas: armas simples, ballesta de mano, espada larga, estoque, espada corta.</p>
</li>
<li>
<p>Herramientas: tres instrumentos musicales de tu elección.</p>
</li>
<li>
<p>Tiradas de Salvación: Destreza, Carisma.</p>
</li>
</ul>
<h3>Lanzamiento de conjuros</h3>
<p>Has aprendido a descifrar y reformular la realidad en armonía con tu música y tus deseos.</p>
<h3>Inspiración de Bardo</h3>
<p>Puedes inspirar a otros a través de palabras estimulantes o
de la música. Para hacerlo, usas una acción adicional en tu
turno para elegir una criatura distinta de ti mismo dentro de
un rango de 60 pies (18 metros) y que pueda escucharte. Esa
criatura gana un dado de Inspiración de Bardo, un d6.</p>
<h2>Subclases (Colegios de bardo)</h2>
<h3>Colegio del conocimiento</h3>
<p>Los bardos del Colegio del Conocimiento conocen algo sobre
la mayoría de las cosas, coleccionando fragmentos de saber
de fuentes tan diversas como tomos de eruditos y cuentos de
aldeanos.</p>
<p>Ya sea cantando baladas populares en tabernas o elaboradas composiciones en cortes reales, estos bardos usan sus
dones para mantener a sus audiencias fascinadas. Cuando
los aplausos se apagan, los miembros de la audiencia se encuentran cuestionándose todo lo que tenían como cierto,
desde su fe en el sacerdocio local hasta su lealtad hacia el rey.</p>
<p>La lealtad de estos bardos está depositada en la búsqueda
de la belleza y la verdad, no en el vasallaje de un monarca o
en seguir las doctrinas de una deidad. Un noble que mantiene
uno de estos bardos como heraldo o consejero sabe que dicho
bardo es más honesto que correcto.</p>
<h3>Colegio del valor</h3>
<p>Los bardos del Colegio de Valor son osados poetas cuyos
cuentos mantienen viva la memoria de los grandes héroes del
pasado, y de este modo inspiran a una nueva generación de
héroes. Estos bardos se reúnen en salones de banquetes o
alrededor de grandes fogatas para cantar las hazañas de los
poderosos, tanto del pasado como del presente. Viajan por el
mundo para presenciar grandes eventos de primera mano y
para asegurarse de que el recuerdo de esos eventos no abandone este mundo. Con sus canciones, inspiran a otros a alcanzar logros de las mismas dimensiones que los héroes de
antaño.</p>
