---
layout: layout-pages.njk
---
<h1>Bárbaro</h1>
<img src="https://bg3.wiki/w/images/thumb/4/41/Class_Barbarian_Badge_Icon.png/180px-Class_Barbarian_Badge_Icon.png" alt="logo" width="200" height="auto">
<p>Un fornido hombre de las tribus camina a grandes zancadas
a través de la tormenta de nieve, envuelto en pieles y enarbolando su hacha. Se ríe mientras carga contra el gigante de
hielo que se atrevió a robar la manada de alces de su gente.</p>
<p>Una semiorca gruñe un último desafío para reclamar su
autoridad sobre su tribu de salvajes, dispuesta a romperle el
cuello con sus propias manos a quien la rete, como ya hizo
con sus seis últimos rivales.</p>
<p>La espuma se le escapa de la boca al enano mientras estrella su casco contra la cara del drow enemigo, luego se gira
rápidamente para insertar su codo en el estómago de otro.</p>
<p>Estos bárbaros, por diferentes que sean, se definen por su
rabia: una furia desenfrenada, inagotable e irreflexiva. Más
que una mera emoción, su ira es la ferocidad de un depredador acorralado, el implacable rugir de la tormenta, la devastadora agitación del mar.</p>
<p>Para algunos, su rabia brota de la comunión con espíritus
de animales salvajes. Otros recurren a su hirviente reserva de
ira frente a un mundo lleno de dolor. Para los bárbaros, la
furia es un poder que no sólo les proporciona un frenesí ciego
en la batalla, sino también extraordinarios reflejos, resistencia y proezas de fuerza.</p>
<h2>Rasgos de la clase</h2>
<p>Como bárbaro, ganas los siguientes rasgos de clase.</p>
<h3>Puntos de golpe</h3>
<ul>
<li>
<p>Dado de Golpe: 1d12 por nivel de bárbaro.
Puntos de Golpe en primer nivel: 12 + tu modificador de
Constitución.</p>
</li>
<li>
<p>Puntos de Golpe a niveles superiores: 1d12 (o 7) + tu modificador de Constitución por nivel de bárbaro después del primer nivel.</p>
</li>
</ul>
<h3>Competencias</h3>
<ul>
<li>
<p>Armadura: armadura ligera, armadura media, escudos.</p>
</li>
<li>
<p>Armas: armas simples, armas marciales.</p>
</li>
<li>
<p>Herramientas: ninguna.</p>
</li>
<li>
<p>Tiradas de Salvación: Fuerza, Constitución.</p>
</li>
<li>
<p>Habilidades: escoge dos de entre Atletismo, Intimidación,</p>
</li>
<li>
<p>Naturaleza, Percepción, Supervivencia y Manejo de Animales.</p>
</li>
</ul>
<h3>Furia</h3>
<p>En combate, luchas con una ferocidad primitiva. En tu turno,
puedes entrar en furia como acción adicional.</p>
<h3>Defensa sin armadura</h3>
<p>Mientras no lleves ninguna armadura, tu Clase de Armadura
será de 10 + Modificador de Destreza + Modificador de Constitución.</p>
<h2>Subclases (Sendas)</h2>
<h3>Senda del Berserker</h3>
<p>Para algunos bárbaros, la furia es un medio para un fin, que
generalmente es la propia violencia. La Senda del Berserker es un camino de furia desatada repleto de sangre. Cuando entras en la furia del berserker te sumerges en el caos de la batalla, sin preocuparte de tu salud o tu bienestar.</p>
<h3>Guerrero Totémico</h3>
<p>La Senda del Guerrero Totémico es un camino espiritual; el bárbaro acepta el espíritu animal como guía, protector e inspiración. En la batalla, el espíritu de tu tótem te inunda con
un poder sobrenatural, añadiendo fuerza mágica a tu furia de
bárbaro.</p>
<p>La mayoría de las tribus bárbaras consideran que un tótem animal se relaciona con un clan en particular. En esos
casos, es inusual que un individuo tenga más de un espíritu
tótem animal, aunque existen algunas excepciones.</p>