---
layout: layout-pages.njk
---
<h1>Clérigo</h1>
<img src="https://bg3.wiki/w/images/thumb/a/ac/Class_Cleric_Badge_Icon.png/180px-Class_Cleric_Badge_Icon.png" alt="logo" width="200" height="auto">
<p>Los clérigos son intermediarios entre el mundo mortal y
los distantes planos divinos. Tan diferentes entre ellos como
los dioses a los que sirven, los clérigos se esfuerzan por personificar las obras de sus deidades. No son sacerdotes ordinarios, un clérigo se encuentra imbuido de magia divina.</p>
<h2>Rasgos de la clase</h2>
<p>Como clérigo, ganas lo siguientes rasgos de clase.</p>
<h3>Puntos de golpe</h3>
<ul>
<li>
<p>Dado de Golpe: 1d8 por nivel de clérigo.
Puntos de Golpe en primer nivel: 8 + tu modificador de
Constitución.</p>
</li>
<li>
<p>Puntos de Golpe a niveles superiores: 1d8 (o 5) + tu modificador de Constitución por cada nivel de clérigo después del
primer nivel.</p>
</li>
</ul>
<h3>Competencias</h3>
<ul>
<li>
<p>Armadura: armadura ligera, armadura media, escudos.</p>
</li>
<li>
<p>Armas: todas las armas simples.
Herramientas: ninguna.</p>
</li>
<li>
<p>Tiradas de Salvación: Sabiduría, Carisma.
Habilidades: escoge dos entre Averiguar Intenciones, Historia, Medicina, Persuasión y Religión</p>
</li>
</ul>
<h3>Lanzamiento de conjuros</h3>
<p>Como conductor de poder divino, eres capaz de lanzar conjuros de clérigo.</p>
<h2>Subclases (Dominios)</h2>
<h3>Dominio del conocimiento</h3>
<p>Los dioses del conocimiento (incluyendo a Oghma, Boccob,
Gilean, Aureon y Thoth) valoran el aprendizaje y el entendimiento sobre todas las cosas. Algunos enseñan que el conocimiento debe ser reunido y compartido en bibliotecas y universidades, o promueven el conocimiento práctico del oficio
y la inventiva. Algunas deidades atesoran el conocimiento y
guardan sus secretos para ellos mismos. Y algunos prometen
a sus seguidores que ganarán un tremendo poder si descifran
los secretos del multiverso. Los seguidores de estas deidades
estudian las tradiciones esotéricas, coleccionan tomos antiguos, exploran los lugares de la tierra y aprenden todo lo que
pueden. Algunos dioses del conocimiento promueven el conocimiento práctico de la creación y la inventiva, incluyendo
deidades herreras como Gond, Reorx, Onatar, Moradin, Hefesto y Goibhniu.</p>
<h3>Dominio de la guerra</h3>
<p>La guerra tiene muchas manifestaciones. Puede convertir en
héroes a la gente ordinaria. Puede ser desesperante y horrible, con actos de crueldad y cobardía eclipsando momentos
de excelencia y valor. En cualquier caso, los dioses de la guerra vigilan a los guerreros y los recompensan por sus grandes
hechos. Los clérigos de estos dioses sobresalen en la batalla,
inspiran a otros a pelear de manera justa u ofrecen actos de
violencia como plegarias. Los dioses de la guerra incluyen
campeones de honor y caballería (como Torm, Heironeous y
Kiri-Jolith) tanto como dioses de la destrucción y el saqueo
(como Erythnul, la Furia, Gruumsh y Ares) y dioses de la conquista y la dominación (como Bane, Hextor, y Maglubiyet).
Otros dioses de la guerra (como Tempus, Niké y Nuada) toman una postura más neutral, promoviendo la guerra en todas sus manifestaciones y apoyando a los guerreros en cualquier circunstancia.</p>
<h3>Dominio de la luz</h3>
<p>Los dioses de la luz (incluyendo a Helm, Lathander, Pholtus,
Branchala, la Llama Plateada, Belenus, Apolo y Re-Horakhty)
promueven los ideales del renacimiento y la renovación, la
verdad, la vigilancia y la belleza, a menudo usando el símbolo
del sol. Algunos de estos dioses son retratados como el sol
mismo o como un auriga que guía al sol a través del cielo.
Otros son centinelas incansables cuyos ojos atraviesan todas
las sombras y ven a través de todo engaño. Algunas son deidades de la belleza y el arte, que enseñan que el arte es un
vehículo para el desarrollo del alma. Los clérigos de un dios
de la luz son almas iluminadas, llenas de brillantez y poseen el poder de discernimiento de su deidad, encomendados con
la persecución de las mentiras y el desvanecimiento de la oscuridad.</p>
<h3>Dominio de la naturaleza</h3>
<p>Los dioses de la naturaleza son tan variados como el mismo
mundo natural, desde dioses inescrutables de los bosques
profundos (como Silvanus, Obad-Hai, Chislev, Balinor y Pan)
hasta deidades amistosas asociadas con primaveras y arboledas particulares (como Eldath). Los druidas reverencian la
naturaleza como un todo y podrían servir a una de estas deidades, practicando ritos misteriosos y recitando plegarias
casi olvidadas en su propia lengua secreta. Pero muchos de
estos dioses también tienen clérigos, campeones que toman
un rol más activo en cuanto a conseguir los intereses de un
dios natural en particular. Estos clérigos podrían cazar las
monstruosidades malvadas que incursionan en los bosques,
bendecir la cosecha de los fieles o marchitar los cultivos de
quienes ofenden a sus dioses.</p>
<h3>Dominio de tempestad</h3>
<p>Los dioses cuyas carteras incluyen el dominio de Tempestad
(como Talos, Umberlee, Kord, Zeboim, el Devorador, Zeus o
Thor) gobiernan las tormentas, el cielo y el mar. Incluyen dioses del trueno y el relámpago, dioses de terremotos, algunos
dioses de fuego y determinados dioses de la violencia, la
fuerza física y el valor. En algunos panteones, un dios de este
dominio reina sobre los demás y es conocido por la rápida
justicia que imparte en forma de rayos. En los panteones de
pueblos marineros, los dioses de este dominio son dioses del
océano y patrones de los navegantes. Los dioses de la tempestad envían a sus clérigos a inspirar miedo entre la gente
común, ya sea para mantenerlos en la senda de la rectitud o
para incentivarlos a realizar sacrificios de aplacamiento para
evitar la ira divina.</p>
<h3>Dominio del engaño</h3>
<p>Los dioses del engaño (como Tymora, Beshaba, Olidammara, el Viajero, Garl Glittergold, y Loki) son hacedores de
engaños e instigadores que representan una constante amenaza al orden aceptado entre dioses y mortales. Son patrones
de ladrones, canallas, apostadores, rebeldes y libertadores.
Sus clérigos son una fuerza disruptiva en el mundo, hieren
orgullos, se burlan de los tiranos, roban a los ricos, liberan
prisioneros y no hacen caso de las tradiciones huecas. Prefieren el subterfugio, las bromas, el engaño y el robo a la confrontación directa.</p>
<h3>Dominio de la vida</h3>
<p>El dominio de Vida se centra en la vibrante energía positiva
(una de las fuerzas fundamentales del universo) que sustenta
toda la vida. Los dioses de la vida promueven la vitalidad y la
salud a través de la sanación de los enfermos y heridos, haciéndose cargo de aquellos que lo necesitan y alejando a las
fuerzas de la muerte y la no-muerte. Prácticamente cualquier
deidad no malvada puede reclamar su influencia sobre este
dominio, particularmente deidades agrícolas (como Chauntea, Arawai, y Demeter), dioses solares (como Lathander, Pelor, y Re-Horakhty), dioses de la sanación o la resistencia
(como Ilmater, Mishakal, Apolo, y Diancecht), y dioses del hogar y la comunidad (como Hestia, Hathor, y Boldrei).</p>
