---
layout: layout-pages.njk
---
<h1>Enano</h1>
<img src="https://bg3.wiki/w/images/thumb/d/d3/Race_Dwarf.png/150px-Race_Dwarf.png" alt="logo" width="200" height="auto">
<p>Reinos ricos en antiguo esplendor, salas esculpidas en las raíces de las montañas, picos y martillos haciéndose eco en profundas minas y ardientes forjas, un compromiso con el clan y
las tradiciones y un odio ardiente hacia orcos y goblins —estos temas comunes unen a todos los enanos.</p>
<h2>Atributos raciales</h2>
<p>Tu personaje enano tiene un surtido de habilidades innatas,
que forman parte de su naturaleza enana.</p>
<ul>
<li>
<p>Incremento de Puntuación de Característica. Tu puntuación en Constitución es aumentada en 2.</p>
</li>
<li>
<p>Edad. Los enanos maduran al mismo tiempo que los humanos, pero son considerados jóvenes hasta que alcanzan los
50 años. De media, viven unos 350 años.</p>
</li>
<li>
<p>Alineamiento. La mayoría de los enanos son legales, creyendo firmemente en los beneficios de una sociedad bien ordenada. Tienden hacia el bien, también con un fuerte sentido
del juego limpio y una creencia de que todo el mundo merece
compartir los beneficios de un orden justo.</p>
</li>
<li>
<p>Tamaño. Los enanos miden entre 4 y 5 pies (1,2 m — 1,5
m) y pesan alrededor de 150 libras (70 kg). Tu tamaño es Mediano.</p>
</li>
<li>
<p>Velocidad. Tu velocidad base a pie es de 25 pies. Tu velocidad no se ve reducida cuando llevas armadura pesada.</p>
</li>
<li>
<p>Visión en la Oscuridad. Acostumbrado a vivir bajo tierra,
tienes una visión superior en condiciones de oscuridad y luz
tenue. Puedes ver en luz tenue a una distancia de 60 pies (18
m) desde ti como si estuviera bien iluminado, y en la oscuridad como si hubiese luz tenue. No puedes discernir colores
en la oscuridad, tan solo tonos de gris.</p>
</li>
<li>
<p>Resistencia Enana. Tienes ventaja en las tiradas de salvación contra veneno, y posees resistencia contra el daño por
veneno (explicado en el Capítulo 9).</p>
</li>
<li>
<p>Entrenamiento de Combate Enano. Eres competente
con el hacha de batalla, hacha de mano, martillo arrojadizo y
martillo de guerra.</p>
</li>
<li>
<p>Competencia con Herramientas. Ganas competencia
con unas herramientas de artesano a tu elección: herramientas de herrero, materiales de cervecería o herramientas de albañil.</p>
</li>
<li>
<p>Afinidad con la Piedra. Cuando quiera que hagas una
prueba de Inteligencia (Historia) relacionada con el origen de
un trabajo hecho en piedra, eres considerado competente en
la habilidad de Historia y añades el doble de tu bonificador de
competencia a la tirada, en lugar de tu bonificador de competencia normal.</p>
</li>
<li>
<p>Idiomas. Puedes hablar, leer y escribir Común y Enano.
El Enano está lleno de consonantes duras y sonidos guturales, y esas características se vierten en cualquier otro idioma
que el enano pueda hablar.</p>
</li>
</ul>
<h2>Subraza</h2>
<h3>Enano de las colinas</h3>
<p>Como enano de las colinas tienes sentidos perspicaces, una
profunda intuición y una notable resistencia. Los Enanos dorados de Faerûn en su poderoso reino del sur son enanos de las colinas, como son el exiliado Neidar y el envilecido Klar of
Krynn en el escenario de Dragonlance.</p>
<h3>Enano de las montañas</h3>
<p>Como enano de las montañas, eres fuerte y duro, acostumbrado a una vida difícil en un terreno áspero. Probablemente
eres alto (para un enano) y tiendes hacia una coloración de
piel más clara. Los enanos escudo del norte de Faerûn a la
vez que el dominante clan Hylar y el noble clan Daewar de
Dragonlance, son enanos de las montañas</p>