---
layout: layout-pages.njk
---
<h1>Explorador</h1>
<img src="https://bg3.wiki/w/images/thumb/f/f5/Class_Ranger_Badge_Icon.png/180px-Class_Ranger_Badge_Icon.png" alt="logo" width="200" height="auto">
<p>Un humano de aspecto duro y salvaje acecha en solitario,
oculto entre las sombras de los árboles, a unos orcos que planean una incursión en una granja cercana. Con una espada
corta en cada mano, se trasforma en un torbellino de acero,
derribando un enemigo tras otro.</p>
<p>Tras saltar rodando fuera de un cono de aire helado, la
elfa se afianza y desenfunda su arco para disparar una flecha
al dragón blanco. Ignorando la ola de miedo que emana de la
criatura como el frío de su aliento, arroja una flecha tras otra
tratando de encontrar las brechas entre las gruesas escamas
del dragón.</p>
<p>Con su mano en alto, el semielfo silba al halcón que traza
círculos sobre él, llamando al ave de regreso a su lado. Susurrando instrucciones en élfico, señala al oso-lechuza que ha
estado rastreando y envía el halcón a distraer a la criatura
mientras prepara su arco.</p>
<h2>Rasgos de la clase</h2>
<p>Como explorador, ganas los siguientes rasgos de clase.</p>
<h3>Puntos de Golpe</h3>
<ul>
<li>
<p>Dado de Golpe: 1d10 por nivel de explorador.
Puntos de Golpe en primer nivel: 10 + tu modificador de
Constitución.</p>
</li>
<li>
<p>Puntos de Golpe a niveles superiores: 1d10 (o 6) + tu modificador de Constitución por cada nivel de explorador después
de primer nivel.</p>
</li>
</ul>
<h3>Competencias</h3>
<ul>
<li>
<p>Armadura: armadura ligera, armadura media, escudos.</p>
</li>
<li>
<p>Armas: armas simples, armas marciales.</p>
</li>
<li>
<p>Herramientas: ninguna.</p>
</li>
<li>
<p>Tiradas de Salvación: Fuerza, Destreza.</p>
</li>
<li>
<p>Habilidades: escoge tres entre Atletismo, Averiguar Intenciones, Investigación, Trato con Animales, Naturaleza, Percepción, Sigilo y Supervivencia.</p>
</li>
</ul>
<h3>Enemigo predilecto</h3>
<p>Empezando en el nivel 1 posees una importante experiencia
en el estudio, el seguimiento, la caza, e incluso el habla de un
cierto tipo de enemigo.</p>
<p>Elije un tipo de enemigo predilecto: aberraciones, bestias,
celestiales, constructos, dragones, elementales, feéricos, infernales, gigantes, monstruos, cienos, plantas o muertos vivientes.</p>
<p>Tienes ventaja en las tiradas de Sabiduría (Supervivencia)
para rastrear a tus enemigos predilectos, así como ventajas
en las tiradas de Inteligencia para recabar información sobre
ellos.</p>
<p>Al obtener este rasgo también aprendes un idioma a tu
elección que hablen tus enemigos predilectos si es que efectivamente hablan.</p>
<h2>Subclases (Arquetipos de cazador)</h2>
<h3>Cazador</h3>
<p>Asumir el arquetipo del Cazador implica aceptar tu papel
como baluarte defensivo entre la civilización y el terror de las
tierras salvajes. Al elegir la senda del Cazador, aprendes técnicas especializadas para la lucha contra las amenazas a las
que te enfrentas, desde acabar con ogros y hordas de orcos
hasta enfrentarse con gigantes e intimidantes dragones</p>
<h3>Señor de las bestias</h3>
<p>El arquetipo de Señor de las Bestias encarna la amistad entre
las razas civilizadas y las bestias del mundo. Concentrados en
un mismo objetivo, explorador y bestia se unen para luchar
contra los monstruosos enemigos que amenazan tanto a la
civilización como a las tierras salvajes por igual. Adoptar el
arquetipo de Señor de las Bestias significa comprometerte
con este ideal, trabajando en asociación con un animal como
compañero y amigo.</p>
