---
layout: layout-pages.njk
---
<h1>Hechicero</h1>
<img src="https://bg3.wiki/w/images/a/a8/Sorcerer_Class_Icon.png" alt="logo" width="200" height="auto">
<p>Con unos ojos dorados y brillantes, una humana extiende su
mano y desata el fuego de dragón que arde en sus venas.
Mientras un infierno ruge alrededor de sus enemigos, unas
alas de dragón salen de su espalda y emprende el vuelo.</p>
<p>Con su larga melena mecida por un viento conjurado, un
semielfo extiende sus brazos y echa la cabeza hacia atrás. Levantándolo momentáneamente del suelo, una ola de magia
surge en él, lo atraviesa, y se manifiesta como una poderosa
explosión eléctrica.</p>
<p>Los hechiceros tienen una magia innata, conferida por
una línea de sangre exótica, una influencia de otro mundo o
la exposición a fuerzas cósmicas desconocidas.</p>
<p>Uno no puede estudiar hechicería como quien estudia un
lenguaje, más de lo que uno puede aprender a vivir una vida
legendaria. Nadie elige la hechicería, el poder elige al hechicero.</p>
<h2>Rasgos de la clase</h2>
<p>Como hechicero, ganas los siguientes rasgos de clase.</p>
<h3>Puntos de Golpe</h3>
<ul>
<li>
<p>Dado de Golpe: 1d6 por nivel de hechicero.
Puntos de Golpe en primer nivel: 6 + tu modificador de
Constitución.</p>
</li>
<li>
<p>Puntos de Golpe a niveles superiores: 1d6 (o 4) + tu modificador de Constitución por cada nivel de hechicero después de
primer nivel.</p>
</li>
</ul>
<h3>Competencias</h3>
<ul>
<li>
<p>Armadura: ninguna.</p>
</li>
<li>
<p>Armas: dagas, dardos, hondas, bastones, ballestas ligeras.</p>
</li>
<li>
<p>Herramientas: ninguna.</p>
</li>
<li>
<p>Tiradas de Salvación: Constitución, Carisma.</p>
</li>
<li>
<p>Habilidades: escoge dos entre Arcano, Averiguar Intenciones, Engañar, Intimidación, Persuasión y Religión.</p>
</li>
</ul>
<h3>Espacios de conjuro</h3>
<p>La tabla Hechicero muestra cuántos espacios de conjuro tienes para lanzar tus conjuros en el primer nivel y superiores.</p>
<p>Para lanzar uno de estos conjuros de hechicero necesitas gastar un espacio de nivel del conjuro o superior. Recuperas todos tus espacios de conjuros gastados después de un descanso prolongado.</p>
<p>Por ejemplo, si conoces el conjuro de nivel 1 manos ardientes y tienes disponible un espacio de nivel 1 y otro de nivel 2, puedes lanzar manos ardientes usando cualquier espacio.</p>
<h3>Característica para el lanzamiento de conjuros</h3>
<p>El Carisma es tu característica para lanzar tus conjuros de
hechicero, puesto que el poder de tu magia se basa en tu habilidad para proyectar tu voluntad en el mundo. Usas tu Carisma siempre que un conjuro haga referencia a tu característica para lanzar conjuros. Además, usas tu modificador de Carisma cuando determinas la CD para la tirada de salvación de
un conjuro de hechicero y cuando realizas la tirada de ataque
con uno.</p>
<h2>Subclases (Orígenes)</h2>
<h3>Linea de sangre dracónida</h3>
<p>Tu magia innata proviene de la magia de los dragones, que
ha sido mezclada con tu sangre o la de tus antepasados. A
menudo, los hechiceros con este origen remontan su ascendencia a un poderoso hechicero de tiempos pasados que hizo
un trato con un dragón o incluso podría tener algún pariente
dragón. Algunas de estas líneas de sangre están bien establecidas en el mundo, pero la mayoría son oscuras. Cualquier
hechicero podría ser el primero de una nueva línea de sangre,
como resultado de un pacto u otra circunstancia excepcional.</p>
<h3>Magia salvaje</h3>
<p>Tu magia innata proviene de las fuerzas salvajes del caos que
subyacen en el orden de la creación. Es posible que hayas sufrido la exposición a alguna forma de magia pura, quizás a
través de un portal que conduce al limbo, los planos elementales o los misteriosos Reinos Lejanos. Quizás hayas sido
bendecido por alguna poderosa criatura feérica o marcado
por un demonio. O tu magia puede ser una casualidad de tu
nacimiento, sin una causa aparente o razón. Sin embargo ahí
está, una magia caótica se revuelve dentro de ti, buscando
cualquier salida.</p>