---
layout: layout-pages.njk
---
<h1>Humano</h1>
<img src="https://bg3.wiki/w/images/thumb/6/6c/Race_Human.png/150px-Race_Human.png" alt="logo" width="200" height="auto">
<p>En el cómputo de la mayoría de los mundos, los humanos son
la más joven de las razas comunes, con una llegada tardía al
mundo y una vida corta en comparación con los enanos, elfos,
y dragones. Quizás es por su corta vida que se esfuerzan en
conseguir tanto como pueden en los años que se les han dado.
O quizás sienten que tienen algo que demostrar a las razas
más antiguas, y es por eso que construyen poderosos imperios basados en la conquista y el comercio. Sea lo que sea lo
que les motiva, los humanos son los innovadores, los pioneros y los triunfadores de los mundos.</p>
<h2>Atributos raciales</h2>
<p>Es difícil generalizar acerca de los humanos, aunque tu personaje humano tiene estos rasgos.</p>
<ul>
<li>
<p>Incremento de Puntuación de Característica. Todas tus
puntuaciones de característica mejoran en 1.</p>
</li>
<li>
<p>Edad. Los humanos alcanzan la madurez cerca de la veintena y rara vez llegan a vivir un siglo completo.</p>
</li>
<li>
<p>Alineamiento. Los humanos tienen a no tener un alineamiento concreto. En ellos se puede encontrar tanto lo mejor
como lo peor.</p>
</li>
<li>
<p>Tamaño. Los humanos varían mucho en cuanto a altura
y constitución, desde aproximadamente los 5 a los 6 pies (1,5
m — 1,8 m) de alto. Independientemente de tu altura, tu tamaño es Mediano.</p>
</li>
<li>
<p>Velocidad. Tu velocidad base a pie es de 30 pies.</p>
</li>
<li>
<p>Idiomas. Puedes hablar, leer y escribir Común y una lengua extra de tu elección. Los humanos normalmente aprenden lenguas de otras personas con las que tienen trato, incluyendo dialectos ocultos. Son aficionados a enriquecer su lenguaje con palabras que toman prestadas de otras lenguas:
maldiciones orcas, expresiones musicales élficas, frases militares enanas y ese tipo de cosas</p>
</li>
</ul>
