---
layout: layout-pages.njk
---
<h1>Mago</h1>
<img src="https://bg3.wiki/w/images/thumb/d/d9/Class_Wizard_Badge_Icon.png/180px-Class_Wizard_Badge_Icon.png" alt="logo" width="200" height="auto">
<p>Los magos son los practicantes supremos de la magia, definidos y unidos como una clase por los hechizos que conjuran. A partir de la sutil onda de la magia que impregna el cosmos, los magos lanzan explosivos hechizos de fuego, arcos
voltaicos, sutiles engaños y brutales formas de control mental. Su magia invoca monstruos de otros planos de existencia,
vislumbra el futuro, o convierte a enemigos caídos en zombis.
Sus hechizos más poderosos transforman una sustancia en
otra, invocan meteoros de los cielos o abren portales a otros
mundos.</p>
<h2>Rasgos de la clase</h2>
<p>Como mago, ganas los siguientes rasgos de clase.</p>
<h3>Puntos de Golpe</h3>
<ul>
<li>
<p>Dado de Golpe: 1d6 por nivel de mago.</p>
</li>
<li>
<p>Puntos de Golpe en primer nivel: 6 + tu modificador de
Constitución.</p>
</li>
<li>
<p>Puntos de Golpe a niveles superiores: 1d6 (o 4) + tu modificador de Constitución por cada nivel de mago después del
primer nivel.</p>
</li>
</ul>
<h3>Competencias</h3>
<ul>
<li>
<p>Armadura: ninguna.</p>
</li>
<li>
<p>Armas: bastones, ballestas ligeras, dagas, dardos, hondas.</p>
</li>
<li>
<p>Herramientas: ninguna.</p>
</li>
<li>
<p>Tiradas de Salvación: Inteligencia, Sabiduría.
Habilidades: elige dos entre Arcano, Averiguar Intenciones,
Historia, Investigación, Medicina y Religión.</p>
</li>
</ul>
<h3>Lanzamiento de conjuros</h3>
<p>Como estudiante de la magia arcana, tienes un libro de conjuros que contiene conjuros que muestran los primeros destellos de tu verdadero poder.</p>
<h3>Lanzamiento ritual</h3>
<p>Puedes lanzar un conjuro de mago como un ritual si el conjuro tiene el descriptor ritual y lo tienes en tu libro de conjuros. No necesitas tenerlo preparado.</p>
<h2>Subclases (Escuelas)</h2>
<h3>Escuela de abjuración</h3>
<p>La Escuela de Abjuración hace énfasis en la magia que bloquea, erradica o protege. Los detractores de esta escuela dicen que su tradición está basada en la negación, en lugar de
la aserción positiva. Comprendes, aun así, que terminar con
efectos dañinos, proteger a los débiles y erradicar el mal es
algo más que un vacío filosófico. Es una respetada profesión
de la cual estar orgulloso.</p>
<h3>Escuela de adivinación</h3>
<p>El consejo de un adivinador es buscado tanto por la realeza
como por la gente común, ya que todos buscan una comprensión más clara del pasado, presente y futuro. Como adivinador, te afanas en abrir los velos del tiempo, del espacio y de
la consciencia para ver más claramente. Trabajas para dominar conjuros de discernimiento, vista remota, conocimiento
sobrenatural y premonición.</p>
<h3>Escuela de conjuración</h3>
<p>Como un conjurador, prefieres usar conjuros que forman objetos y criaturas a partir del aire mismo. Puedes conjurar nubes de niebla asesina o invocar criaturas de algún otro lado
para que luchen por ti. A medida que crece tu dominio, aprendes conjuros de transportación y puedes teletransportarte a
través de vastas distancias, incluso a otros planos de existencia, en un instante.</p>
<h3>Escuela de encantamiento</h3>
<p>Como miembro de la Escuela de Encantamiento, has pulido
tu habilidad para controlar y manipular a otras personas y
monstruos. Algunos encantadores son pacifistas que embrujan a los violentos para que bajen sus armas y hechizan a los
crueles para que muestren piedad. Otros son tiranos que atan
mágicamente a los que son reacios a servirles. La mayoría de
los encantadores son un punto medio entre estas dos opciones.</p>
<h3>Escuela de evocación</h3>
<p>Concentras tus estudios en la magia que crea poderosos efectos elementales como un frío glacial, llamas abrasadoras, resonantes truenos, crepitantes rayos y corrosivo ácido. Algunos evocadores encuentran empleo en las fuerzas militares,
sirviendo como artillería para hacer estallar ejércitos enemigos desde la lejanía. Algunos usan sus espectaculares poderes para proteger a los débiles, mientras otros solo buscan su
beneficio como bandidos, aventureros o aspirantes a tiranos.</p>
<h3>Escuela de ilusión</h3>
<p>Enfocas tus estudios en la magia que confunde los sentidos,
la mente y engañan hasta al más sabio. Tu magia es sutil, pero
las ilusiones creadas por tu ágil mente hacen que lo imposible
parezca real. Algunos ilusionistas (incluyendo muchos magos
gnomos) son bribones benignos que usan sus conjuros para
entretener. Otros son más siniestros, maestros del engaño,
que usan sus ilusiones para asustar y engañar a otros para su
beneficio personal.</p>
<h3>Escuela de Nigromancia</h3>
<p>La escuela de Nigromancia explora las fuerzas cósmicas de
la vida, la muerte y la no-muerte. Cuando concentras tus estudios en esta tradición, aprendes a manipular la energía que
anima a todos los seres vivientes. A medida que progresas,
aprendes a extraer la fuerza vital de una criatura mientras tu
magia destruye su cuerpo, transformando esa energía vital en
poder mágico que puedes manipular.</p>
<p>La mayoría de la gente ve a los nigromantes como amenazas, o incluso villanos, debido a su cercanía con la muerte. No
todos los nigromantes son malvados, pero las fuerzas que manipulan son consideradas un tabú por muchas sociedades.</p>
<h3>Escuela de Transmutación</h3>
<p>Eres un estudioso de los conjuros que modifican la energía y
la materia. Para ti, el mundo no es algo fijo, sino sumamente
mutable, y te deleitas en la idea de ser un agente del cambio.</p>
<p>Blandes la materia pura de la creación y aprendes a alterar tanto las formas físicas como las cualidades mentales. Tu
magia te brinda las herramientas para convertirte un herrero
en la forja de la realidad.</p>
<p>Algunos transmutadores son bromistas y curiosos, que
convierten a la gente en sapos y transforman el cobre en plata
por diversión y beneficios ocasionales. Otros prosiguen sus
estudios mágicos con extrema seriedad, buscando el poder
de los dioses para crear y destruir mundos.</p>
