---
layout: layout-pages.njk
---
<h1>Mediano</h1>
<img src="https://bg3.wiki/w/images/thumb/3/35/Race_Halfling.png/150px-Race_Halfling.png" alt="logo" width="200" height="auto">
<p>Las comodidades del hogar son las metas para la mayoría de
las vidas de los medianos: un lugar donde asentarse en paz y
tranquilidad, lejos de monstruos merodeadores y enfrentamientos de ejércitos; un buen fuego y una comida generosa;
buena bebida y buena conversación. Aunque algunos medianos viven sus días en alejadas comunidades agrícolas, otros
forman grupos nómadas que viajan constantemente, atraídos
por los nuevos caminos y anchos horizontes, para descubrir
las maravillas de las nuevas tierras y gentes. Pero incluso estos viajeros aman la paz, comida, el bienestar y el hogar, aunque el hogar sea un vagón empujado a tirones a través de un
camino embarrado o una barcaza flotando río abajo.</p>
<h2>Atributos raciales</h2>
<p>Tu personaje mediano tiene un número de rasgos en común
con todos los demás medianos.</p>
<ul>
<li>
<p>Incremento de Puntuación de Característica. Tu puntuación de Destreza aumenta en 2.</p>
</li>
<li>
<p>Edad. Un mediano alcanza la madurez a la edad de 20 y
normalmente vive hasta la mitad de su segundo siglo.</p>
</li>
<li>
<p>Alineamiento. La mayoría de los medianos tienen un alineamiento legal bueno. Como norma general, tienen buen corazón y son amables, odian ver sufrir a otros, y no toleran el
abuso. Son también muy ordenados y tradicionales, son muy
propensos a ayudar a su comunidad y a la comodidad de sus
viejas tradiciones.</p>
</li>
<li>
<p>Tamaño. El promedio de los medianos está alrededor de
los 3 pies (0,9 m) de alto y pesan sobre las 40 libras (18 kg).
Tu tamaño es Pequeño.</p>
</li>
<li>
<p>Velocidad. Tu velocidad base a pie es de 25 pies.</p>
</li>
<li>
<p>Suertudo. Cuando obtienes un 1 en una tirada de ataque,
prueba de característica o tirada de salvación, puedes volver
a tirar el dado y debes usar la puntuación obtenida en la nueva
tirada.</p>
</li>
<li>
<p>Valiente. Tienes ventaja en las tiradas de salvación en
contra de ser asustado.</p>
</li>
<li>
<p>Agilidad Mediana. Puedes moverte a través del espacio
de cualquier criatura que sea de un tamaño mayor que el tuyo.</p>
</li>
<li>
<p>Idiomas. Puedes hablar, leer y escribir Común y Mediano. El idioma mediano no es secreto pero los medianos
son reacios a compartirlos con otros. Escriben muy poco, así
que no tienen una gran cantidad de literatura. Su tradición
oral, sin embargo, es muy fuerte. Casi todos los medianos hablan común para conversar con la gente en las tierras donde
viven o a través de las que están viajando.</p>
</li>
<li>
<p>Subraza. Los dos tipos principales de mediano, piesligeros y fornidos, se parecen más a familias que a verdaderas
subrazas. Elige una de estas subrazas.</p>
</li>
</ul>
<h2>Subraza</h2>
<h3>Mediano piesligeros</h3>
<p>Como un mediano piesligeros, puedes pasar desapercibido
fácilmente, incluso usando a otra persona como cobertura.
Tiendes a ser amable y llevarte bien con los demás. En los
Reinos Olvidados, los medianos piesligeros son los más extendidos por lo que son la variedad más común. Los piesligeros son más propensos al gusto por viajar que otros medianos, y siempre viven junto a otras razas o emprenden una vida
nómada. En el mundo de Greyhawk, estos medianos son llamados piespeludos o compañerosaltos</p>
<h3>Mediano fornido</h3>
<p>Como mediano fornido eres más duro que la mayoría y tienes
algo de resistencia al veneno. Algunos dicen que los fornidos
tienen sangre enana. En los Reinos Olvidados, estos medianos son llamados corazonesfuertes y son más comunes en el
sur.</p>
