---
layout: layout-pages.njk
---
<h1>Monje</h1>
<img src="https://bg3.wiki/w/images/thumb/9/93/Class_Monk_Badge_Icon.png/180px-Class_Monk_Badge_Icon.png" alt="logo" width="200" height="auto">
<p>Mientras mueve los puños como un espejismo para desviar
una lluvia de flechas, una semielfa salta una barricada para
lanzarse sobre las desordenadas filas de hobgoblins que se
encuentran al otro lado. Girando como un tornado entre ellos,
bloquea sus golpes al tiempo que los hace tambalear y caer,
hasta que solo ella se mantiene en pie.</p>
<p>Cualquiera que sea su disciplina, los monjes están unidos
por su habilidad para utilizar mágicamente la energía que corre por sus cuerpos. Ya sea canalizada en una impactante demostración de proeza marcial o en el sutil enfoque en la habilidad defensiva y la velocidad, esta energía impulsa todo lo
que el monje hace</p>
<h2>Rasgos de la clase</h2>
<p>Como monje, ganas los siguientes rasgos de clase.</p>
<h3>Puntos de Golpe</h3>
<ul>
<li>
<p>Dado de Golpe: 1d8 por nivel de monje.</p>
</li>
<li>
<p>Puntos de Golpe en primer nivel: 8 + tu modificador de
Constitución.</p>
</li>
<li>
<p>Puntos de Golpe a niveles superiores: 1d8 (o 5) + tu modificador de Constitución por cada nivel de monje después del
primero.</p>
</li>
</ul>
<h3>Competencias</h3>
<ul>
<li>
<p>Armadura: ninguna.</p>
</li>
<li>
<p>Armas: armas simples, espadas cortas.</p>
</li>
<li>
<p>Herramientas: elige un tipo de herramienta de artesano o un
instrumento musical.</p>
</li>
<li>
<p>Tiradas de Salvación: Fuerza, Destreza.</p>
</li>
<li>
<p>Habilidades: elige dos entre Acrobacias, Atletismo, Averiguar Intenciones, Historia, Religión y Sigilo.</p>
</li>
</ul>
<h3>Ki</h3>
<p>Comenzando en el nivel 2 tu entrenamiento te permite utilizar la mística energía del ki. Tu acceso a esta energía está
representado por un número de puntos ki. Tu nivel de monje
determina la cantidad de puntos de ki que tienes.</p>
<p>Puedes gastar estos puntos para utilizar varios rasgos.
Comienzas conociendo tres: Ráfaga de Golpes, Defensa Paciente y Andar del Viento. Aprendes más rasgos al progresar
niveles en esta clase</p>
<ul>
<li>
<p>Ráfaga de Golpes.
Inmediatamente después de realizar la acción de Ataque en
tu turno, puedes gastar un punto ki para hacer dos ataques
sin armas como una acción adicional.</p>
</li>
<li>
<p>Defensa Paciente.
Puedes gastar un punto ki para usar la acción de Esquivar
como una acción adicional en tu turno.</p>
</li>
<li>
<p>Andar del Viento.
Puedes gastar un punto ki para usar la acción de Retirada o
Carrera como una acción adicional en tu turno, además, tu
distancia de salto se duplica durante este turno.</p>
</li>
</ul>
<h2>Subclases  (Caminos)</h2>
<h3>Camino de la mano abierta</h3>
<p>Los monjes del camino de la mano abierta son los más grandes maestros del combate con artes marciales, ya sea con armas o sin ellas. Aprenden técnicas para empujar y derribar a
sus oponentes, manipulan el ki para curar el daño en sus
cuerpos y practican meditación avanzada, que puede protegerlos del daño</p>
<h3>Camino de la sombra</h3>
<p>Los monjes del camino de la sombra siguen una tradición que
valora el sigilo y el subterfugio. Estos monjes pueden ser conocidos como ninjas o danzarines sombríos, ya que sirven
como espías y asesinos. A veces los miembros de un monasterio ninja son miembros de la misma familia, formando un
clan que juró mantener en secreto sus artes y misiones. Otros
monasterios son más parecidos a cofradías de ladrones, alquilando sus servicios a nobles, mercaderes ricos o cualquier
otro que pueda pagar sus honorarios.</p>
<h3>Camino de los cuatro elementos</h3>
<p>Sigues una tradición monástica que te enseña cómo emplear
los elementos. Cuando concentras tu ki, puedes alinear tu ser
con las fuerzas de la creación y manipular los elementos a
voluntad, como si fueran una extensión de tu propio cuerpo.
Algunos miembros de esta tradición dedican su vida a un solo
elemento, pero otros entrelazan varios elementos.
Muchos monjes de esta tradición se tatúan sus cuerpos
con representaciones de su poder con el ki, generalmente
como dragones enroscados, pero también como aves fénix,
peces, plantas, montañas y olas.</p>
