---
layout: layout-pages.njk
---
<h1>Semielfo</h1>
<img src="https://bg3.wiki/w/images/thumb/d/dd/Race_Half-Elf.png/150px-Race_Half-Elf.png" alt="logo" width="200" height="auto">
<p>Caminando entre dos mundos pero sin pertenecer realmente
a ninguno de los dos, los semielfos combinan lo que algunos
dicen ser las mejores cualidades de sus progenitores humanos y elfos: la curiosidad, inventiva y ambición humana templada por los sentidos refinados, el amor por el arte y la naturaleza de los elfos. Algunos semielfos viven entre los humanos, separados por sus diferencias emocionales y físicas,
viendo a amigos y seres queridos envejecer mientras el
tiempo no les toca a ellos. Otros viven entre los elfos, aumentando su inquietud conforme se acercan a la edad adulta en
los intemporales reinos élficos, mientras sus compañeros
continúan viviendo como niños. Muchos semielfos, incapaces
de encajar en ninguna sociedad, eligen una vida errante en
solitario o uniéndose a otros inadaptados y marginados en la
vida aventurera.</p>
<h2>Atributos raciales</h2>
<p>Tu personaje semielfo tiene algunas cualidades en común
con los elfos y otras que son únicas de los semielfos.</p>
<ul>
<li>
<p>Incremento de Puntuación de Característica. Tu puntuación de Carisma aumenta en 2 y otras dos puntuaciones a
tu elección aumentan en 1.</p>
</li>
<li>
<p>Edad. Los semielfos maduran a la misma velocidad que
los humanos y alcanzan la adultez alrededor de los 20 años.
Viven, sin embargo, mucho más que los humanos, excediendo a menudo los 180 años.</p>
</li>
<li>
<p>Alineamiento. Los semielfos comparten la inclinación
caótica de su herencia élfica. Valoran tanto la libertad personal como la expresión creativa, no demostrando amor por los
líderes ni deseo de seguidores. Les fastidian las reglas, molestándose con las demandas de los demás, y en ocasiones se
muestran poco fiables o por lo menos impredecibles.</p>
</li>
<li>
<p>Tamaño. Los semielfos son casi del mismo tamaño que
los humanos, midiendo entre 5 y 6 pies (1.5m — 1.8m). Tu
tamaño es Mediano.</p>
</li>
<li>
<p>Velocidad. Tu velocidad base a pie es de 30 pies.</p>
</li>
<li>
<p>Visión en la Oscuridad. Gracias a tu sangre élfica, tienes
una visión superior en la oscuridad y la luz tenue. Puedes ver
en luz tenue hasta los 60 (18 m) pies como si fuera a plena
luz, y en la oscuridad como si fuera en luz tenue. No puedes
distinguir colores en la oscuridad, sólo tonos de gris.</p>
</li>
<li>
<p>Ascendencia Feérica. Tienes ventaja en las tiradas de
salvación contra Encantamiento, y no puedes ser dormido
mediante la magia.</p>
</li>
<li>
<p>Versatilidad con Habilidades. Ganas competencia en
dos habilidades a tu elección.</p>
</li>
<li>
<p>Idiomas. Puedes hablar, leer y escribir Común, Élfico y
otro idioma de tu elección.</p>
</li>
</ul>
