---
layout: layout-pages.njk
---
<h1>Semiorco</h1>
<img src="https://bg3.wiki/w/images/thumb/a/ad/Race_Half-Orc.png/150px-Race_Half-Orc.png" alt="logo" width="200" height="auto">
<p>Ya sean unidos bajo el liderazgo de un poderoso brujo o luchando para resistir tras años de conflicto, las tribus humanas y orcas a veces forman alianzas, uniendo sus fuerzas en
una horda mayor para el terror de las tierras civilizadas cercanas. Cuando esas alianzas se sellan con matrimonios, nacen los semiorcos. Algunos semiorcos crecen para convertirse en jefes orgullosos de tribus orcas, con su sangre humana proveyéndoles de ventaja sobre sus rivales orcos purasangres. Algunos se aventuran en el mundo para probar su
valía ante los humanos y otras razas más civilizadas. Muchos
de estos se convierten en aventureros, cosechando grandeza
por sus grandes hazañas y notoriedad por sus costumbres
bárbaras y su furia salvaje.</p>
<h2>Atributos raciales</h2>
<p>Tu personaje semiorco tiene ciertos rasgos derivados de tus
antepasados orcos.</p>
<ul>
<li>
<p>Incremento de Puntuación de Características. Tu puntuación de Fuerza se incrementa en 2 y tu puntuación de
Constitución se incrementa en 1.</p>
</li>
<li>
<p>Edad. Los semiorcos maduran un poco más rápido que
los humanos, alcanzando la adultez alrededor de los 14. Envejecen notablemente más rápido y raramente viven más de
75 años.</p>
</li>
<li>
<p>Alineamiento. Los semiorcos heredan una tendencia hacia el caos de sus padres orcos y no están muy inclinados hacia el bien. Los semiorcos criados entre orcos y dispuestos a
pasar sus vidas entre ellos son usualmente malvados.</p>
</li>
<li>
<p>Tamaño. Los semiorcos son algo más grandes y corpulentos que los humanos, y su altura va de 5 a algo más de 6
pies (1,6 m — 1,9 m). Tu tamaño es Mediano.</p>
</li>
<li>
<p>Velocidad. Tu velocidad base a pie es 30 pies.</p>
</li>
<li>
<p>Visión en la Oscuridad. Gracias a tu sangre orca, tienes
una visión superior en condiciones de oscuridad y penumbra.
Puedes ver en luz tenue dentro de 60 pies como si estuvierabien iluminado, y en la oscuridad total como si hubiese luz
tenue. No puedes discernir colores en la oscuridad, sólo tonos
de gris.</p>
</li>
<li>
<p>Amenazante. Ganas competencia en la habilidad Intimidar.</p>
</li>
<li>
<p>Resistencia Incansable. Cuando te ves reducido a 0 Puntos de Golpe pero no estás totalmente muerto, puedes volver
a tener 1 punto de golpe en su lugar. No puedes volver usar
este rasgo hasta que no hayas completado un descanso prolongado.</p>
</li>
<li>
<p>Ataques Salvajes. Cuando saques un impacto crítico con
un ataque con arma cuerpo a cuerpo, puedes tirar otra vez
uno de los dados de daño del arma y añadirlo al daño extra
por el impacto crítico.</p>
</li>
<li>
<p>Idiomas. Puedes hablar, leer y escribir Común y Orco. El
Orco es un idioma estridente y áspero con fuertes consonantes. No tiene alfabeto propio pero se escribe con el alfabeto
enano.</p>
</li>
</ul>