@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 1rem;
  max-width: 800px;
  min-height: 100vh;
  border: medium solid #ff0000;
  text-align: center;
  font-family: system-ui, sans-serif;
  background-color: #302f6a;
  background: url("../img/dd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgb(255, 255, 255);
}
h1,h2,h3{
  color: rgb(255, 0, 0);
}

a {
  color: #ff0000;
  transition: all 0.3s ease-out;

  &:hover {
    color: rgb(54, 0, 0);
  }
}

hr {
  margin: 2rem auto;
  width: 80%;
}

img {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width:100%;
}
.img{
  width: 90%;
  height: auto;
}

p,
li {
  text-align: left;
}

.menu {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  border: thin solid rgb(255, 230, 0);

  ul {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  li {
    list-style: none;
  }
}
#listaArticulos{
  font-size: 30px;
  margin-top: 20px;
  list-style: none;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.filtro{
  display: none;
}